* {
    margin: 0;
    padding: 0;
 
}

.folderList {
    list-style: none;
    width: 100%;
    margin-top: 5px;

}
.folderList a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
}
.folderList li {

    padding: 5px;
margin: 5px 0;
 
}

.addFolderButton {
    margin-top: 10px;
    padding:10px;
    width: 70%;
    border: 1px solid black;
    background: none;
}

.linkContainer {
width: 100%;
height: 100%;

}

.linkName {

   
}

.inactive {
    background-color: black;
    width: 200%;
    height: 200%;
}

.selectedLink {
    background-color: blue !important;
    color:rgb(171, 180, 187) !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 18px !important;
}

.currentFolder {
    margin-top: 20px;
    font-size: 30px;
}

.backButton {
    padding: 5px;
    width: 100px;
    font-size: 20px;
    border: 2px solid whitesmoke;
    background: none;
}