* {
    margin: 0;
    padding: 0;
 
}

.folderList {
    list-style: none;
    width: 100%;
    margin-top: 5px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}
.folderList a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
}
.folderList li {
width: 90%;
    padding: 15px 10px;
margin: 5px 0;
 border-bottom: 1px solid lightgrey;
}

.folderButton {
    margin: 20px auto;
    padding:10px;
    border: 1px solid lightgrey;
    background: none;
    display: block;
    white-space: nowrap;
}

.linkContainer {
width: 100%;
height: 100%;

}

.linkName {
    font-size: 18px;
}

.inactive {
    background-color: black;
    width: 200%;
    height: 200%;
}

.selectedLink {
    background-color: blue !important;
    color:rgb(171, 180, 187) !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 18px !important;
}

.currentFolder {
    margin-top: 20px;
    font-size: 30px;
}

.backButton {
    padding: 5px;
    width: 100px;
    font-size: 20px;
    border: 1px solid lightgray;
    background: none;
}

@media screen and (max-width: 880px) {


}