.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 3fr;
  height: 100vh;
  background: #333333;
  color: #fff;
}
* {
  font-weight: 300;
}
button {
  background: none;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 6px;
  margin-top: 10px;
}
h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.Header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: "header";
  grid-column: 1/3;
  max-height: 8vh;
  background: rgb(27, 173, 76);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.logoContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.foldersToggle {
  display: none;
}

.banner {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.bannerSub {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.SideBar {
  grid-area: "side";
  background: #262626;
  min-height: 92vh;
}
.SidebarOn {
  background: #262626;
}

.NoteArea {
  grid-area: "main";
  padding: 30px;
  overflow-y: auto;
}

@media screen and (max-width: 880px) {
  .App {
    grid-template-columns: 1fr;
  }

  .SideBar {
    display: none;
  }

  .SidebarOn {
    display: inline-block;
    min-width: 90vw;
    z-index: 5;
    background: #262626;
    min-height: 92vh;
    position: absolute;
    left: 0;
    top: 9vh;
  }

  .foldersToggle {
    display: inline-block;
    position: absolute;
    left: -55px;
    top: 185px;
    padding: 5px 15px;
    border: 1px solid black;
    background: #262626;
    color: white;
    margin-left: 20px;
    font-size: 22px;
    transform: rotate(-90deg);
    z-index: 5;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    cursor: pointer;
  }
}
