* {
    padding: 0;
    margin: 0;

}

.notesList {
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notesList li{
    width: 100%;
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: 10px;
    position: relative;
}
.note {
    width: 100%;
    position: relative;
}
.nName {
    font-size: 30px !important;
}
.dModified {
    font-size: 16px;
    margin: 10px;
    width: 100%;
}
.contentContainer{
    margin-top: 10px;
    width: 100%;
    max-height: 90%;

    padding: 15px;
    background:rgb(56, 93, 119);
}
.noteLabel , h3{
    color: whitesmoke;
}
Link {
    color: whitesmoke;
    text-decoration: none;
}
.notesList li > h3, h6 {
text-align: left;
margin: 5px;
}

.deleteNoteButton {
    position: absolute;
    right:  5px;
    bottom: 5px;
    border: 1px solid black;
    padding: 5px; 
}

.newNoteButton {
    padding: 10px;
    border: 1px solid black;
    width: 40%;
}

.newNoteForm {
    z-index: 3;
    position: absolute;
    width: 400px;
    height: 600px;
    top: 10vh;
    left: 5vh;
    background: rgb(56, 93, 119);;
    border: 2px solid whitesmoke;

}

.noteForm * {
    color: whitesmoke;
    margin: 3px;
    width: 90%;
}

.noteForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.contentInput {
    height: 50%;
    color: black !important;
    font-size: 20px;
 
}

.nameInput {
    font-size: 20px;
    height: 35px;
    color: black !important;
}

.newNoteSubmit , .noteSelect , option{
    width: 90%;
    height: 35px;
    background: none;
    border: 1px solid #fff;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: black;
}


